@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0000;
    --foreground: #2f2f2f;
    justify-items: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #2f2f2f;
        justify-items: center;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    justify-items: center;
}
